.container {
  min-height: 100vh;
  background: white;
  position: relative;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.backButton {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding-block: 0.5rem;
}

.backButton img {
  width: 24px;
  height: 24px;
}

.imageSlider {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scroll-snap-type: x mandatory;
}

.imageSlider::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.imageWrapper {
  display: inline-flex;
  height: 100%;
}

.imageWrapper img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: 30px;
  padding: 1rem;
}

.content {
  padding-inline: 1.5rem;
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.tag {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.875rem;
}

.tagCategory {
  background: #dae000;
  color: black;
}

.tagTrade {
  background: #F5A200;
  color: black;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: black;
}

.description {
  color: #4b5563;
  line-height: 1.6;
  margin-bottom: 2rem;
  white-space: pre-wrap;
}

.price {
  color:#F5A200;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: auto;
  align-items: center;
}

.mainButton {
  flex: 1;
  padding: 1rem;
  background: #dae000;
  color: black;
  border: none;
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.likeButton {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 2px solid #dae000;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s;
}

.likeButton img {
  width: 24px;
  height: 24px;
}